.cita-marcada {
    background-color: greenyellow !important; /* Amarillo */
    color: black !important;
    font-weight: bold;
  }
  .recordatorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .check-circular {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #ccc;
  }
  
  .check-circular.pendiente {
    background-color: transparent;
    border-color: red;
  }
  
  .check-circular.completado {
    background-color: green;
    border-color: green;
  }

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid red;
    display: inline-block;
  }
  
  .bg-success {
    background-color: green !important;
    border: none;
  }
  
  .bg-danger {
    background-color: white !important;
  }
  
  .lactancia-card {
    background-color: #f8f9fa; /* Fondo claro */
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .lactancia-card h5 {
    color: #333;
  }
  
  .lactancia-card .d-flex {
    font-size: 1.1rem;
    margin-top: 5px;
  }